<div class="overflow-hidden">
  <!-- Alternative 2 Heading -->
  <header class="header app-landing-2-header section">
      <div class="shapes-container">
          <!-- diagonal shapes -->
          <div class="shape shape-animated" data-aos="fade-down-right" data-aos-duration="1500" data-aos-delay="100"></div>
          <div class="shape shape-animated" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="100"></div>
          <div class="shape shape-animated" data-aos="fade-up-left" data-aos-duration="500" data-aos-delay="200"></div>
          <div class="shape shape-animated" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200"></div><!-- animated shapes -->
          <div class="animation-shape shape-triangle">
              <div class="animation--rotating"></div>
          </div>
          <div class="animation-shape shape-cross">
              <div class="animation--rotating"></div>
          </div><!-- static shapes -->
          <div class="static-shape shape-ring shape-ring-1">
              <div class="animation animation--rotating"></div>
          </div>
          <div class="static-shape shape-ring shape-ring-2">
              <div class="animation animation--rotating-clockwise"></div>
          </div>
          <div class="static-shape pattern-dots-1"></div>
          <div class="static-shape pattern-dots-2"></div><!-- main shape -->
          <div class="static-shape background-shape-main"></div>
      </div>
      <div class="container">
          <div class="row align-items-center gap-y">
              <div class="col-md-6"><span class="rounded-pill shadow-sm bg-contrast text-dark bold py-2 px-4"></span>
                  <div class="device-twin ms-auto align-items-center">
                      <div class="absolute" data-aos="fade-left">
                          <div class="screen"><img class="banner-image" src="../assets/images/banner3.png" alt="..."></div><span class="button"></span>
                      </div>
                      <div class="iphone-x light front me-0">
                          <div class="screen shadow-box"><img src="img/screens/app/2.png" alt="..."></div>
                          <div class="notch"></div>
                      </div>
                  </div>
              </div>
              <div class="col-md-6">
                <h1 class="display-4 display-md-2 mt-3"><span class="bold">Ronkee </span><br>
                  <small class="h-s-i">Grow you money <br> from crumbs to loaves</small></h1>
              <p class="lead bold text-primary"><span class="head-line-2"></span></p>
              <!-- <p class="lead">Invest spare change, invest while you bank, earn bonus investments, grow your knowledge and more.</p> -->
              <nav class="nav flex-column flex-md-row justify-content-center align-items-center mt-5">
                  <a href="#" class="nav-link py-3 px-4 btn btn-rounded btn-download btn-primary text-contrast me-0 me-md-4 mb-4 mb-md-0"><img src="../assets/images/apple.svg" class="icon icon-md" alt="...">
                      <p class="ms-2"><span class="small bold">Get it on the</span> <span class="d-block bold text-contrast">App Store</span></p>
                  </a>
                  <a href="#" class="nav-link py-3 px-4 btn btn-rounded btn-download btn-light text-darker">
                      <img src="../assets/images/google-play.svg" class="icon icon-md" alt="...">
                      <p class="ms-2"><span class="small bold">Download on</span>
                          <span class="d-block bold text-darker">Google Play</span></p>
                  </a>
              </nav>

              </div>
          </div>
      </div>
  </header>
  <!-- ./Tons of benefits -->
  <section class="section overflow-hidden">
      <div class="container bring-to-front">
          <div class="row gap-y align-items-center">
              <div class="col-md-6 col-lg-5 me-lg-auto position-relative">
                  <div class="center-xy op-1">
                      <div class="shape shape-background rounded-circle shadow-lg bg-info" style="width: 600px; height: 600px;" data-aos="zoom-in"></div>
                  </div>
                  <div class="device-twin mx-auto align-items-center">
                      <div class="mockup absolute" data-aos="fade-left">
                          <div class="screen"><img src="img/screens/app/3.png" alt="..."></div><span class="button"></span>
                      </div>
                      <div class="iphone-x front me-0">
                          <div class="screen shadow-box"><img src="img/screens/app/4.png" alt="..."></div>
                          <div class="notch"></div>
                      </div>
                  </div>
              </div>
              <div class="col-md-6 text-center text-md-start">
                  <div class="section-heading">
                      <h2 class="bold"><i class="far fa-check-circle fa text-danger mb-3"></i> A better way to invest</h2>
                      <!-- <p class="lead">Ronkee will maximize your time and money</p> -->
                  </div>
                  <div class="row gap-y">
                      <div class="col-md-6">
                          <div class="d-flex flex-column flex-lg-row align-items-center align-items-md-start">
                              <div class="mx-auto ms-md-0 me-md-3"><i data-feather="code" width="36" height="36" class="stroke-primary"></i></div>
                              <div class="flex-fill mt-3 mt-md-0">
                                  <h5 class="bold mt-0 mb-1">Personal investing</h5>
                                  <p class="m-0 d-md-none d-lg-block">Give your money a chance to work towards your financial goals with Round-Ups®, expert-built, diversified portfolios, Recurring Investments, and more.</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="d-flex flex-column flex-lg-row align-items-center align-items-md-start">
                              <div class="mx-auto ms-md-0 me-md-3"><i data-feather="star" width="36" height="36" class="stroke-primary"></i></div>
                              <div class="flex-fill mt-3 mt-md-0">
                                  <h5 class="bold mt-0 mb-1">Round-Ups® feature</h5>
                                  <p class="m-0 d-md-none d-lg-block">Automatically save and invest with Round-Ups® feature. Every purchase you make means an opportunity to invest your spare change! So coffee for $3.25 becomes a $0.75 investment in your future.</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="d-flex flex-column flex-lg-row align-items-center align-items-md-start">
                              <div class="mx-auto ms-md-0 me-md-3"><i data-feather="wind" width="36" height="36" class="stroke-primary"></i></div>
                              <div class="flex-fill mt-3 mt-md-0">
                                  <h5 class="bold mt-0 mb-1">Real Estate Crowdfunding</h5>
                                  <p class="m-0 d-md-none d-lg-block">Allows multiple investors to pool their money and collectively invest in larger real estate projects than they could on their own.</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="d-flex flex-column flex-lg-row align-items-center align-items-md-start">
                              <div class="mx-auto ms-md-0 me-md-3"><i data-feather="clock" width="36" height="36" class="stroke-primary"></i></div>
                              <div class="flex-fill mt-3 mt-md-0">
                                  <h5 class="bold mt-0 mb-1">On-Demand Educational Resources</h5>
                                  <p class="m-0 d-md-none d-lg-block">Grow your financial confidence with videos, articles, and tips for investors both experienced and new.</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <section>
      <div class="container bring-to-front">
          <div class="section-heading text-center">
              <h2 class="bold">Invest your spare change in Realstate</h2>
          </div>
          <div class="row">
              <div class="col-md-4">
                  <a href="prop-details.html">
                      <img class="prop-card" src="img/screens/app/p1.png">
                  </a>
              </div>
              <div class="col-md-4">
                  <a href="prop-details.html">
                      <img class="prop-card" src="img/screens/app/p2.png">
                  </a>
              </div>
              <div class="col-md-4">
                  <a href="prop-details.html">
                      <img class="prop-card" src="img/screens/app/p3.png">
                  </a>
              </div>
          </div>
      </div>
  </section>
  <!-- ./Path to success -->
  <section class="section path-success">
      <div class="shapes-container">
          <div class="shape-ring absolute right top" data-aos="fade-up"></div>
      </div>
      <div class="container bring-to-front">
          <div class="row gap-y align-items-center text-center text-lg-start">
              <div class="col-md-6 col-lg-5 ms-lg-auto order-md-2">
                  <div class="device-twin ms-auto align-items-center">
                      <div class="mockup absolute right" data-aos="fade-right">
                          <div class="screen"><img src="img/screens/app/5.png" alt="..."></div><span class="button"></span>
                      </div>
                      <div class="iphone-x front ms-0">
                          <div class="screen shadow-box"><img src="img/screens/app/6.png" alt="..."></div>
                          <div class="notch"></div>
                      </div>
                  </div>
              </div>
              <div class="col-md-6 text-center text-md-start">
                  <div class="section-heading">
                      <!-- <div class="d-flex align-items-center mb-3">
                          <i class="fas fa-trophy fa-2x text-primary me-2"></i> <span class="badge bg-contrast shadow-sm py-2 px-4 text-primary rounded-pill">We are your only</span>
                      </div> -->
                      <h2 class="bold">Invest your spare change with Round-Ups®</h2>
                  </div>
                  <ul class="list-unstyled">
                      <li class="d-flex flex-column flex-md-row align-items-start">
                          <div class="bg-light p-3 rounded d-flex align-items-center justify-content-center mx-auto me-md-3">1</div>
                          <div class="media-body mt-3 mt-md-0">
                              <h5 class="bold mt-0 mb-1">Link a card</h5>
                              <p class="m-0">Simply link any or all of your credit or debit cards to your Ronkee Invest account. If you have an Ronkee Debit Card, it’s automatically linked.</p>
                          </div>
                      </li>
                      <li class="d-flex flex-column flex-md-row align-items-start mt-5">
                          <div class="bg-light p-3 rounded d-flex align-items-center justify-content-center mx-auto me-md-3">2</div>
                          <div class="media-body mt-3 mt-md-0">
                              <h5 class="bold mt-0 mb-1">Invest spare change</h5>
                              <p class="m-0">We’ll automatically round up your purchases to the next dollar, and invest your change once it adds up to $5.</p>
                          </div>
                      </li>
                      <li class="d-flex flex-column flex-md-row align-items-start mt-5">
                          <div class="bg-light p-3 rounded d-flex align-items-center justify-content-center mx-auto me-md-3">3</div>
                          <div class="media-body mt-3 mt-md-0">
                              <h5 class="bold mt-0 mb-1">Grow your oak over time</h5>
                              <p class="m-0">Round-Ups® tap into the power of dollar-cost averaging and compounding so you can benefit from investing early and often to help reach your long-term financial goals.
                                  <small style="font-size: 10px; line-height: 14px; display: block; margin-top: 20px; color: #767676;">
                                      Your Potential is a hypothetical tool that illustrates, how factors such as Recurring Investments (amount and frequency), Round-Ups® investments, Smart Deposit investments, and compound returns may impact the long-term value of an Ronkee Account. The tool uses a 6% hypothetical rate of return and hypothetical age range dependent on age band selected by the user.
                                  </small>
                              </p>
                          </div>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </section>
  <!-- <section class="section app-safety">
      <div class="shapes-container">
          <div class="shape shape-circle">
              <div data-aos="fade-up-left"></div>
          </div>
          <div class="shape shape-triangle" data-aos="fade-up-right" data-aos-delay="200">
              <div></div>
          </div>
          <div class="shape pattern pattern-dots"></div>
      </div>
      <div class="container">
          <div class="row gap-y align-items-center">
              <div class="col-md-5 order-md-last ms-auto">
                  <div class="section-heading">
                      <h2 class="bold">Save and invest in the background of life</h2>
                      <p class="lead text-muted">Sign up in minutes, we’ll recommend an investment portfolio for your money goals, and you can set automated investments starting with spare change.</p>
                  </div>
                  <div class="d-flex align-items-start">
                      <div class="bg-light p-3 rounded d-flex align-items-center justify-content-center me-3"><i data-feather="activity" class="stroke-primary"></i></div>
                      <div class="flex-fill">
                          <h5 class="bold">Real time activity</h5>
                          <p class="m-0">Get instant insight on what&#39;s happening in your business</p>
                      </div>
                  </div>
                  <div class="d-flex align-items-start mt-5">
                      <div class="bg-light p-3 rounded d-flex align-items-center justify-content-center me-3"><i data-feather="upload-cloud" class="stroke-primary"></i></div>
                      <div class="flex-fill">
                          <h5 class="bold">Instant deploy</h5>
                          <p class="m-0">Deploy your project in a fraction of a second, no time!</p>
                      </div>
                  </div>
                  <div class="d-flex align-items-start mt-5">
                      <div class="bg-light p-3 rounded d-flex align-items-center justify-content-center me-3"><i data-feather="package" class="stroke-primary"></i></div>
                      <div class="flex-fill">
                          <h5 class="bold">Easy integrations</h5>
                          <p class="m-0">Integrate our solution with other tech leaders in the industry</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="row gap-y align-items-center text-center">
                      <div class="col-md-4 mt-md-6">
                          <div class="figure shadow rounded overflow-hidden border"><img class="img-responsive" src="img/screens/app/3.png" alt=""></div>
                      </div>
                      <div class="col-md-4">
                          <div class="figure shadow rounded overflow-hidden border"><img class="img-responsive" src="img/screens/app/4.png" alt=""></div>
                      </div>
                      <div class="col-md-4 mt-md-6">
                          <div class="figure shadow rounded overflow-hidden border"><img class="img-responsive" src="img/screens/app/5.png" alt=""></div>
                      </div>
                      <div class="col-md-4 mx-auto mt-md-n4">
                          <div class="figure shadow rounded overflow-hidden border"><img class="img-responsive" src="img/screens/app/6.png" alt=""></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section> -->
  <div class="position-relative">
      <div class="shape-divider shape-divider-bottom shape-divider-fluid-x text-primary"><svg viewBox="0 0 2880 48" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z"></path>
          </svg></div>
  </div><!-- ./Counters -->
      <!-- ./How to Videos -->
  <section class="section bg-darker">
      <div class="container pt-8">
          <div class="section-heading text-center w-75 mx-auto"><i data-feather="film" width="36" height="36"></i>
              <h2 class="text-contrast bold">How to videos</h2>
              <p class="lead text-muted">Grow your financial confidence with videos, articles, and tips for investors both experienced and new.</p>
          </div>
          <div class="row gap-y">
              <div class="col-12 col-sm-6 col-md-4">
                  <div class="card bg-dark border-0"><a href="https://www.youtube.com/watch?v=4kL7IdNruCE" class="modal-popup mfp-iframe overlay gradient gradient-blue-purple alpha-3 p-6 image-background cover" style="background-image: url(img/screens/app/v1.jpg)" data-effect="mfp-fade" data-type="iframe">
                          <div class="content text-center"><i data-feather="play" width="48" height="48" stroke-width="1" class="stroke-contrast"></i></div>
                      </a>
                      <div class="card-body">
                          <h4 class="card-title text-contrast">How to Start Investing</h4>
                          <p class="card-text text-muted">Investing is not as complex as it may seem. Here's how to get started investing and what to consider when you are building a portfolio.</p>
                      </div>
                  </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4">
                  <div class="card bg-dark border-0"><a href="https://www.youtube.com/watch?v=pXo-BA3FgBg" class="modal-popup mfp-iframe overlay gradient gradient-blue-purple alpha-3 p-6 image-background cover" style="background-image: url(img/screens/app/v2.jpg)" data-effect="mfp-fade" data-type="iframe">
                          <div class="content text-center"><i data-feather="play" width="48" height="48" stroke-width="1" class="stroke-contrast"></i></div>
                      </a>
                      <div class="card-body">
                          <h4 class="card-title text-contrast">What is Micro Investing?</h4>
                          <p class="card-text text-muted">Micro-investing involves saving small sums and investing it consistently into the markets through ETFs or fractional shares of stock.</p>
                      </div>
                  </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4">
                  <div class="card bg-dark border-0"><a href="https://www.youtube.com/watch?v=6mtltF61CEA" class="modal-popup mfp-iframe overlay gradient gradient-blue-purple alpha-3 p-6 image-background cover" style="background-image: url(img/screens/app/v3.jpg)" data-effect="mfp-fade" data-type="iframe">
                          <div class="content text-center"><i data-feather="play" width="48" height="48" stroke-width="1" class="stroke-contrast"></i></div>
                      </a>
                      <div class="card-body">
                          <h4 class="card-title text-contrast">What Are Fractional Shares?</h4>
                          <p class="card-text text-muted">Fractional shares are mere portions of a share of a particular stock, mutual fund, exchange-traded fund (ETF) or other investment.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <div class="position-relative">
      <div class="shape-divider shape-divider-bottom shape-divider-fluid-x text-light"><svg viewBox="0 0 2880 48" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z"></path>
          </svg></div>
  </div>
  <!-- Features -->
  <!-- <section class="section mt-n6" id="features">
      <div class="container pt-0">
          <div class="bg-contrast shadow rounded p-5">
              <div class="row gap-y">
                  <div class="col-md-4">
                      <div class="rounded gradient gradient-primary-light icon-xl shadow d-flex align-items-center justify-content-center me-3"><i data-feather="pen-tool" width="36" height="36" class="stroke-contrast"></i></div>
                      <h4 class="semi-bold mt-4 text-capitalize">themes made easy</h4>
                      <hr class="w-25 bw-2 border-alternate mt-3 mb-4">
                      <p class="regular text-muted">Our astonishing style structure makes your customization process a breeze</p>
                  </div>
                  <div class="col-md-4">
                      <div class="rounded gradient gradient-primary-light icon-xl shadow d-flex align-items-center justify-content-center me-3"><i data-feather="zap" width="36" height="36" class="stroke-contrast"></i></div>
                      <h4 class="semi-bold mt-4 text-capitalize">powerful design</h4>
                      <hr class="w-25 bw-2 border-alternate mt-3 mb-4">
                      <p class="regular text-muted">With ready-to-use content you&#39;ll deploy your implementation in no time</p>
                  </div>
                  <div class="col-md-4">
                      <div class="rounded gradient gradient-primary-light icon-xl shadow d-flex align-items-center justify-content-center me-3"><i data-feather="star" width="36" height="36" class="stroke-contrast"></i></div>
                      <h4 class="semi-bold mt-4 text-capitalize">creative content</h4>
                      <hr class="w-25 bw-2 border-alternate mt-3 mb-4">
                      <p class="regular text-muted">Repetitive styles all across the web? Nevermind that! Shine with unique styles</p>
                  </div>
              </div>
          </div>
      </div>
  </section> -->
  <!-- See why people love ShasCore -->
  <!-- <section class="section why-people-love-us">
      <div class="shapes-container overflow-clear">
          <div class="shape shape-circle shape-circle-1">
              <div data-aos="fade-up-left"></div>
          </div>
          <div class="shape shape-circle shape-circle-2">
              <div data-aos="fade-up-right" data-aos-delay="200"></div>
          </div>
          <div class="shape pattern pattern-dots pattern-dots-1"></div>
          <div class="shape shape-triangle shape-animated">
              <div class="animation--rotating"></div>
          </div>
      </div>
      <div class="container">
          <div class="row gap-y">
              <div class="col-md-6 order-md-last">
                  <div class="section-heading">
                      <p class="text-primary bold">Discover. Create. Love.</p>
                      <h2 class="bold heading-line">See why people love Ronkee</h2>
                  </div>
                  <ul class="list-unstyled">
                      <li>
                          <div class="d-flex align-items-start pb-3">
                              <div class="bg-light p-3 rounded d-flex align-items-center justify-content-center me-3"><i data-feather="mail" class="stroke-primary"></i></div>
                              <div class="flex-fill">
                                  <h5 class="bold">Mail Management</h5>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aut autem eum laudantium quas recusandae repellendus voluptate.</p>
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="d-flex align-items-start pb-3">
                              <div class="bg-light p-3 rounded d-flex align-items-center justify-content-center me-3"><i data-feather="map" class="stroke-primary"></i></div>
                              <div class="flex-fill">
                                  <h5 class="bold">Customers Tracking</h5>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aut autem eum laudantium quas recusandae repellendus voluptate.</p>
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="d-flex align-items-start pb-3">
                              <div class="bg-light p-3 rounded d-flex align-items-center justify-content-center me-3"><i data-feather="bar-chart" class="stroke-primary"></i></div>
                              <div class="flex-fill">
                                  <h5 class="bold">Advanced Reporting</h5>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aut autem eum laudantium quas recusandae repellendus voluptate.</p>
                              </div>
                          </div>
                      </li>
                  </ul>
              </div>
              <div class="col-md-6 position-relative">
                  <div class="bubble bubble-left center-x-md">
                      <figure class="rounded overflow-hidden shadow" data-aos="zoom-in"><img src="img/screens/app/pieces/4.png" class="img-responsive" alt=""></figure>
                  </div>
                  <figure class="bubble bubble-right rounded overflow-hidden shadow"><img src="img/screens/app/pieces/5.png" class="img-responsive" alt="" data-aos="fade-left"></figure>
                  <div class="iphone-x">
                      <div class="screen shadow-box"><img src="img/screens/app/6.png" alt="..."></div>
                      <div class="notch"></div>
                  </div>
              </div>
          </div>
      </div>
  </section> -->
  <!-- ./FAQs -->
  <section class="section bg-light edge bottom-right">
      <div class="container">
          <div class="row">
              <div class="col-md-4">
                  <h2>Do you have <span class="bold">questions?</span></h2>
                  <p class="lead">Not sure how Ronkee can help you?</p>
                  <p class="text-muted">Here are the answers to some of the most common questions we hear from our appreciated customers</p>
              </div>
              <div class="col-md-8">
                  <div class="accordion accordion-clean" id="faqs-accordion">
                      <div class="card mb-3">
                          <div class="card-header"><a href="#" class="card-title btn" data-bs-toggle="collapse" data-bs-target="#v1-q1"><i class="fas fa-angle-down angle"></i> Where is my money invested?</a></div>
                          <div id="v1-q1" class="collapse show" data-bs-parent="#faqs-accordion">
                              <div class="card-body">There are five different Ronkee Core portfolios and four different Ronkee ESG Portfolios, built by experts. Each portfolio is composed of exchange-traded funds — ETFs for short. An ETF is made of broad holdings of stocks and/or bonds. Depending on your portfolio, you’re invested in a mix of companies, markets, and bonds—and if you choose, a Bitcoin-linked ETF. The overview or prospectuses of the ETFs can be found below.</div>
                          </div>
                      </div>
                      <div class="card mb-3">
                          <div class="card-header"><a href="#" class="card-title btn collapsed" data-bs-toggle="collapse" data-bs-target="#v1-q2"><i class="fas fa-angle-down angle"></i> How do I choose an Investment Portfolio?</a></div>
                          <div id="v1-q2" class="collapse" data-bs-parent="#faqs-accordion">
                              <div class="card-body">Ronkee will recommend a portfolio for you based on your age, time horizon, income, goals, and risk tolerance. Our ETF portfolios range from aggressive (all stocks) to conservative (all bonds), with a mix in between. You may switch portfolios after registration without a charge or penalty from Ronkee. However, changing portfolios with any investment account may cause a taxable event.</div>
                          </div>
                      </div>
                      <div class="card mb-3">
                          <div class="card-header"><a href="#" class="card-title btn collapsed" data-bs-toggle="collapse" data-bs-target="#v1-q3"><i class="fas fa-angle-down angle"></i> What should I consider when the market is down?</a></div>
                          <div id="v1-q3" class="collapse" data-bs-parent="#faqs-accordion">
                              <div class="card-body">Your Ronkee portfolio is designed with the goal of weathering the stock market’s normal ups and downs. This is why your Ronkee portfolio is diversified, or composed of lots of different things. When some things are down, others may be up, to help balance your performance over time.</div>
                          </div>
                      </div>
                      <div class="card mb-3">
                          <div class="card-header"><a href="#" class="card-title btn collapsed" data-bs-toggle="collapse" data-bs-target="#v1-q4"><i class="fas fa-angle-down angle"></i> What are ESG Portfolios?</a></div>
                          <div id="v1-q4" class="collapse" data-bs-parent="#faqs-accordion">
                              <div class="card-body">Ronkee ESG portfolios are composed of Exchange Traded Funds (ETFs) that invest in companies rated for how they approach environmental, social, and governance issues. This is their Morgan Stanley Corporate International (MSCI) ESG rating. MSCI ESG ratings are a comprehensive measure of a company’s long-term commitment to socially responsible investments (SRI) and environmental, social and governance (ESG) investment standards. In particular, the MSCI ESG ratings focus on a company’s exposure to financially relevant ESG risks.</div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section><!-- ./Download -->
  <section class="section app-download">
      <div class="container bring-to-front">
          <div class="shadow-lg bg-primary p-5 rounded">
              <div class="section-heading text-center">
                  <p class="badge bg-contrast text-dark rounded-pill shadow-sm bold py-2 px-4">Start today</p>
                  <h2 class="bold text-contrast">Download the App</h2>
                  <p class="text-contrast">Stay connected to every aspect of the financial world and trade anytime, anywhere. Manage your portfolio and watch lists; research; and trade stocks, ETFs, options, and more from our mobile app.</p>
              </div>
              <nav class="nav flex-column flex-md-row justify-content-center align-items-center mt-5">
                  <a href="#" class="nav-link py-3 px-4 btn btn-rounded btn-download btn-dark text-contrast me-0 me-md-4 mb-4 mb-md-0"><img src="img/svg/apple.svg" class="icon icon-md" alt="...">
                      <p class="ms-2"><span class="small bold">Get it on the</span> <span class="d-block bold text-contrast">App Store</span></p>
                  </a>
                  <a href="#" class="nav-link py-3 px-4 btn btn-rounded btn-download btn-light text-darker">
                      <img src="img/svg/google-play.svg" class="icon icon-md" alt="...">
                      <p class="ms-2"><span class="small bold">Download on</span>
                          <span class="d-block bold text-darker">Google Play</span></p>
                  </a>
              </nav>
          </div>
      </div>
  </section><!-- ./CTA - Create Account -->
  <section class="section">
      <div class="container pt-5">
          <div class="d-flex align-items-center flex-column flex-md-row">
              <div class="text-center text-md-start">
                  <p class="light mb-0 text-primary lead">Ready to get started?</p>
                  <h2 class="mt-0 bold">Create an account now</h2>
              </div><a href="register.html" class="btn btn-primary btn-rounded mt-3 mt-md-0 ms-md-auto">Create Ronkee account</a>
          </div>
      </div>
  </section><!-- ./Footer - Headline -->
  <footer class="site-footer section bg-darker text-contrast text-center bg-contrast">
      <div class="container py-4"><img src="img/logo-light.png" alt="" class="logo">
          <p class="lead mt-5">Don't wait - <span class="bold">Get Ronkee</span> NOW!</p>
          <p class="copyright my-5">© 2021 Ronkee, <em>by</em> <a class="brand bold" href="https://skillup.mk" target="_blank">skillup</a></p>
          <hr class="mt-5 bg-secondary op-5">
          <nav class="nav social-icons justify-content-center mt-4">
              <a href="#" class="btn text-contrast btn-circle btn-sm brand-facebook me-3"><i class="fab fa-facebook"></i></a> <a href="#" class="btn text-contrast btn-circle btn-sm brand-twitter me-3"><i class="fab fa-twitter"></i></a> <a href="#" class="btn text-contrast btn-circle btn-sm brand-youtube me-3"><i class="fab fa-youtube"></i></a> <a href="#" class="btn text-contrast btn-circle btn-sm brand-pinterest"><i class="fab fa-pinterest"></i></a></nav>
      </div>
  </footer>
</div>
