.landing-bg {
  background-image: linear-gradient(90deg, #647dee 0%, #a754e2 100%);
  width: 100%;
  height: 100%;
  position: relative;
}

.landing-bg:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 362px;
  background: url('../../assets/images/wave.svg') no-repeat center bottom;
}
